# Ignore log files
*.log

# Ignore temporary files
*.tmp

*.pycdr'

# Ignore node_modules directory
node_modules/

runs/

asap_v0.1_example/
asap.egg-info/
build/
asap/__pycache__/
scripts/
testing/
asap/c_tools/

# any folder namen __pychache__ and its content
__pycache__/