# Ignore log files
*.log

# Ignore temporary files
*.tmp

*.pyc
*.nbc

# Ignore node_modules directory
node_modules/

runs/

asap_v0.1_example/
asap.egg-info/
build/
asap/__pycache__/
scripts/
testing/